<html>
  <head>
    <title>Twitter(gem)を使ったSinatraアプリ</title>
    <link href="bootstrap.min.css" rel="stylesheet">
  </head>
  <body>	
  <h1>Twitter Timeline(use erb)</h1>
  <ul>
    <%
      @home_timeline.each do |items|
    %>
    <li>
      <%= items["text"] %>
    </li>
    <% end %>
  </ul>
</body>
</html>
